/*--------------- INDEX ---------------*/
/*
    1. PRELOADER
    2. GENERAL
    3. MODALS
        3.1 MODAL TABS
    4. CLOSE BUTTONS
    5. TABLES
    6. NAV
    7. OTHER
    8. RESPONSIVE
*/

/*--------------- 1. PRELOADER ---------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #283747;
    opacity: 0.75;
    }

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #707070;
    border-top: 6px solid #DE354C ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } 
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------- 2. GENERAL ---------------*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

header {
    display: flex;
    margin: 10px;
}

select {
    width: 100%;
}

th, td {
    border: 1px solid black;
}

/*--------------- 3. MODALS ---------------*/

.modal {
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
    background-color: white;
    margin: 15% auto;
    padding: 50px;
    width: 50%;
    height: auto;
    font-size: 30px;
    border-radius: 15px;
}

.modalOff {
    display: none;
}

/*---------------- 3.1 MODAL TABS -----------*/

.modalTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.modalTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
}

.modalTab button:hover {
    background-color: #ddd;
}

.modalTab button.activeTab {
    background-color: #ccc;
}

.modalTabContent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
#countryModal  h6 {
    margin: auto;
    font-weight: normal;
}

#countryModal h5 {
    display: inline;
}

#countryModal h3 {
    text-decoration: underline;
}

.modalHeadersWithImg h4 {
    text-align: justify;
    margin: 0;
}

/*--------------- 4. CLOSE BUTTONS ---------------*/

.closeBtn {
    float: right;
    font-size: 30px;
    color: gray;
    margin: 0;
    padding: 0;
}

.closeBtn:hover {
    cursor: pointer;
    color: #000;
}

#countryName {
    display: inline;
}

/*--------------- 5. TABLES ---------------*/

#comparisonTable {
    border-collapse: collapse;
    width: 100%;
}

#comparisonTable td, #comparisonTable th {
    border: 1px solid #aaa;
    padding: 8px;
}

#comparisonTable tr:nth-child(even) {
    background-color: #ddd;
}

#comparisonTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/*--------------- 6. NAV ---------------*/

#appNav {
    position: fixed;
    z-index: 1000;
    right: 0;
    margin-top: 5%;
    padding: 5px 0;
    background-color: white;
    border-radius: 10px 0 0 10px;
    display: none;
}

.navIcon {
    width: 50px;
    height: auto;
    padding: 10px;
    display: block;
    opacity: 0.50;
}

.navIcon:hover {
    opacity: 1;
    cursor: pointer;
}

#appNavIcon {
    position: fixed;
    z-index: 1000;
    right: 0;
    margin-top: 13px;
    padding: 5px 0;
    padding: 10px;

}

#appNavIcon img {
    width: 55px;
}

#appNavIcon img:hover {
    cursor: pointer;
}

/*--------------- 7. OTHER ---------------*/

.formInput {
    width: 100%;
}

.italicBold {
    font-style: italic;
    font-weight: bold;
}

#contactHeader img {
    width: 100px
}

/*--------------- 8. RESPONSIVE ---------------*/

@media only screen 
  and (min-width: 320px) {

    #appNav {
        display: none;
    }

    #appNavIcon {
        display: block;
    }

    .modal {
        z-index: 5000;
    }
    
    .modalContent {
        width: auto;
    }

    .modalHeadersWithImg {
        display: block;
        text-align: center;
    }

    .modalHeadersWithImg img {
        width: 100px;
    }

}


@media only screen 
  and (min-width: 900px) {

    .modalHeadersWithImg {
        display: inline-flex;
    }

    .modalContent {
        width: 67%;
    }


}

@media only screen 
  and (min-width: 1224px) {

    #appNav {
        display: block;
    }
    
    #appNavIcon {
        display: none;
    }

    .modalContent {
        width: 50%;
    }
}