body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

header {
    display: flex;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

#comparisonTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#comparisonTable td, #comparisonTable th {
    border: 1px solid #aaa;
    padding: 8px;
}

#comparisonTable tr:nth-child(even) {
    background-color: #ddd;
}

#comparisonTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.modal {
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
    background-color: white;
    margin: 15% auto;
    padding: 50px;
    width: 50%;
    height: auto;
    font-size: 30px;
    border-radius: 15px;
}

.closeBtn {
    float: right;
    font-size: 30px;
    color: gray;
}

.closeBtn:hover {
    cursor: pointer;
    color: #000;
}

#countryName {
    display: inline;
}

nav {
    position: fixed;
    z-index: 1000;
    right: 0;
    margin-top: 5%;
    padding: 5px 0;
    background-color: white;
    border-radius: 10px 0 0 10px;
}

nav img {
    width: 50px;
    height: auto;
    padding: 10px;
    display: block;
    opacity: 0.50;
}

.navIcon:hover {
    opacity: 1;
    cursor: pointer;
}

.modalOff {
    display: none;
}

.formInput {
    width: 100%;
}

 /* Style the tab */
 .modalTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .modalTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .modalTab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .modalTab button.activeTab {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .modalTabContent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

#countryModal  h6 {
    margin: auto;
    font-weight: normal;
}

#countryModal h5 {
      display: inline;
}

#countryModal h3 {
    text-decoration: underline;
}

#searchCountriesModal img {
    width: 75px;
    padding: 10px;
}

.modalHeaderContainer h4 {
    text-align: center;
    margin: 0;
}

.modalHeadersWithImg {
    display: inline-flex;
}