/*--------------- INDEX ---------------*/
/*
    1. PRELOADER
    2. GENERAL
    3. MODALS
        3.1 MODAL TABS
    4. CLOSE BUTTONS
    5. TABLES
    6. NAV
    7. OTHER
    8. RESPONSIVE
*/

/*--------------- 1. PRELOADER ---------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #283747;
    opacity: 0.75;
    }

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #707070;
    border-top: 6px solid #DE354C ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } 
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------- 2. GENERAL ---------------*/

html, body, #map {
    height: 100%;
    width: 100vw;
}

select {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------- 3. MODALS ---------------*/

#ctryModClsBtn:hover {
    cursor: pointer;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 72.5vh;
    overflow-y: auto;
}

.modal-footer nav {
    font-size: 12px;
}

#infoModal {
    position: relative; 
}


/*--------------- POPUP ---------------*/

td {
    border: none;
}

#popup h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#popup h2 {
    text-align: center;
    font-size: 18px;
}

#popup img {
    width: 100%;
}

.rightCol {
    text-align: right;
    color: darkorchid;
}

/*---IFRAME---*/
.holds-the-iframe {
    background: url("../img/loading.gif") center center no-repeat;
    background-size: 50%;
}

/*---NAV---*/

#navBtnCont {
    position: fixed;
    z-index: 1000;
    top: 265px;

    transform: translate(0%, -50%);
}

#navBtnCont div {
    font-size: 30px;
    color: darkgray;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 2px 4px;
    margin: 10px;
}

#navBtnCont div:hover {
    cursor: pointer;
}

.fa-info-circle, .fa-search-dollar, .fa-chart-bar {
    transform: translate(12%);
}

/*--CLOSE BTN--*/

#modalClsBtn:hover {
    cursor: pointer;
}

.table-headings {
    font-size: 30px;
    font-weight: normal;
}